:root {
  --Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Dark-Mode-Bg: hsl(207, 26%, 17%);
  --Light-Mode-Text: hsl(200, 15%, 8%);
  --Light-Mode-Input: hsl(0, 0%, 52%);
  --Light-Mode-Bg: hsl(0, 0%, 98%);
  --Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);

  --fs-homepage-items: 0.875rem;
  --fs-detail-page: 1rem;
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark-theme {
  background-color: var(--Dark-Mode-Bg);
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

body.light-theme {
  background-color: var(--Light-Mode-Bg);
  color: var(--Light-Mode-Text);
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 5rem;
}

body.dark-theme header {
  background-color: var(--Dark-Mode-Elements);
}

body.light-theme header {
  background-color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
}

.theme-toggle {
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* FILTERS */

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.input-field {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 1rem;
  width: 400px;
  height: 50px;
  padding-inline: 1.5rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
}

body.dark-theme .input-field {
  background-color: var(--Dark-Mode-Elements);
}

body.light-theme .input-field {
  background-color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

input {
  background: transparent;
  border: none;
  height: 100%;
  font-size: var(--fs-homepage-items);
}

body.dark-theme input,
body.dark-theme input::placeholder {
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

body.light-theme input,
body.light-theme input::placeholder {
  color: var(--Light-Mode-Input);
}

#region {
  border: none;
  cursor: pointer;
  height: 50px;
  padding-inline: 1.5rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
}

#region option {
  font-weight: 600;
}

body.dark-theme #region {
  background-color: var(--Dark-Mode-Elements);
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

body.light-theme #region {
  background-color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
  color: var(--Light-Mode-Text);
  font-weight: 600;
}
